<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form>
		Username:
		<input type="text" name="username" placeholder="Username">
		Password:
		<input type="password" name="password">
		Image URL:
		<input type="text" name="image" placeholder="Image URL">
	</form>
</body>
</html>