
	<h2 class="text-center">Edit Your Info!</h2>
	<form action="/users/<%=@user.id%>" method="POST">
		<div class="form-group mt-5 col-lg-12 col-lg-offset-4 text-center">
			<input  type="hidden" name="_method" value="PUT" />
			Username:
			<input class="form-control mt-2 mx-auto col-sm-8 text-center" type="text" name="username" value="<%=@user[:username]%>" />
			Password:
			<input class="form-control mt-2 mx-auto col-sm-8 text-center" type="password" name="password" value="<%=@user[:password]%>" />
			<br/>
			<br/>
			<br/>
			<div class="text-center">
			<button class="btn btn-success">Update User Info</button>
			</div>
		</div>
	</form>
	<div class="text-center">
	<form action="/users/<%=@user.id%>" method="POST">
		<input type="hidden" name="_method" value="DELETE">
		<button class="btn btn-danger">Delete User</button>
	</form>
	</div>

