#background {
	background-image: url(https://cdn.shopify.com/s/files/1/1244/3904/products/Nease_Navarre_Beach_Sunset_x_1600_2048x.jpg?v=1462829027);
	height: auto;
	width: 100%;
	background-size: cover;
}
#logbackground {
	background-image: url(https://images.unsplash.com/photo-1517021897933-0e0319cfbc28?ixlib=rb-1.2.1&w=1000&q=80);
	height: auto;
	width: 100%;
	background-size: cover;
}
#tripbackground {
	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOzXMaQ1e7Da5Efv7hREIGKZ0ilhFIqwl4jRDERcrMbpuHRBN7);
	height: auto;
	width: 100%;
	background-size: cover;
}

#background1 {
	background-color: rgba(0,0,0,.8);
	height: auto;
	width: 100%;
	background-size: cover;
	padding-bottom: 350px;
}

#border-1 {
    border-width:5px !important;
}

#border-2 {
    border-width:5px !important;
}

#results {
	font-size: 40px !important;
	font-weight: bold !important;
}
